.hdr {
    background-color: #326273;
    padding: 0.5em;
    margin: 0.5em;
    color: #5c9ead;
    font-size: 50pt;
    text-align: center;
    font-weight: bolder;
    -webkit-text-stroke: 1.5px black;

    
}

.buttons{
    font-weight: bolder;
    font-size: 22pt;
}

body{
    background-color: #5c9ead;
}

.inputs{
    background-color: #5c9ead;
    font-weight: bolder;
    text-align: right;
    font-size: 26pt;
    -webkit-text-stroke: 1px black;
    color: #5c9ead;
}

ul {
    list-style: none;
    font-size: 24pt;
    text-align: center;
}

#answerDisplay {
    color: #5c9ead;
    font-size: 50pt;
    text-align: center;
    font-weight: bolder;
    -webkit-text-stroke: 1.5px black;
}

.seperator {
    width: 60px;
}